@charset "utf-8";
/* CSS Document */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a {
	color: rgba(98,98,98,1);	
	transition: opacity, 0.5s;
}

a:hover {
	opacity: 0.5;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

div {
	display: block;
	text-align: center;
	margin: auto;	
}
html {
	height: 100%;
}

body {
	height: 100%;
	background: #fff;
	font-size: small;
	font-family: 'Lato', 'Open Sans', 'Roboto',sans-serif, Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, "Osaka", "ＭＳ Ｐゴシック", "MS PGothic";
	line-height: 100%;
}

/* basic style start*/
.clearfix {
  overflow: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}


.mb20 {
	margin-bottom: 20px;
}


.mb30 {
	margin-bottom: 30px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb100 {
	margin-bottom: 100px;
}


.mt20 {
	margin-top: 20px;
}


.mt30 {
	margin-top: 30px;
}

.mt50 {
	margin-top: 50px;
}

.mt100 {
	margin-top: 100px;
}

.mr0 {
  margin-right: 0px;
}

.ml0 {
  margin-left: 0px;
}

.pdg20 {
  padding:20px; 
}
/* basic style end*/

/*header section start*/
header {
	position: fixed;
	top: 0px;
	background-color: #fff;
	width: 100%;
	display: inline-block;
	height: 80px;
	z-index: 999;
}

header ul {
	position: fixed;
	right: 30px;
	padding-top: 30px;
}

header li {
	display: inline;
	padding: 10px;
}

header img {
	width: 20px;
	margin-right: 10px;
}

.navbarlogo {
	position: fixed;
	left: 30px;
	margin-top: 20px;
	width: 150px;

}

.navbarsns {
	position: fixed;
	left: 30px;
	margin-top: 30px;
}

@media screen and ( max-width:479px )
{

	header {
		position: fixed;
		top: 0px;
		background-color: #fff;
		width: 100%;
		display: inline-block;
		height: 100px;
		z-index: 999;
	}

	header ul {
		position: fixed;
		right: 10px;
		padding-top: 45px;
	}

	header li {
		display: inline;
		padding: 10px;
	}

	header img {
		width: 30px;
		margin-right: 20px;
	}

	.navbarlogo {
		position: fixed;
		left: 20px;
		margin-top: 35px;
		width: 140px;
	}

	.navbarsns {
	position: fixed;
	left: 30px;
	margin-top: 35px;
}
}
/*header section end*/

/*footer section start*/
footer {
	background-color: #E6E6E6;
	border-style: solid;
	border-width: 1px;
	border-color: #DCDCDC;
	text-align: center;
	width: 100%;
	padding-top: 40px;
}

footer img {
	width: 24px;
	margin: 0px 5px;
}


footer p {
	margin: 40px 0px;
	color: #4C4C4C;
}
footer h2 {
	font-size: 30px;
	font-weight: 100;
	line-height: 40px;
	color: #7F7F7F;
}

@media screen and ( max-width:479px )
{
	footer img {
		width: 36px;
		margin: 0px 10px;
	}
	
	footer p {
		margin: 50px 0px;
		color: #4C4C4C;
	}

	footer h2 {
		padding: 0px 10px; 
		font-size: 40px;
		font-weight: 300;
		line-height: 50px;
		color: #7F7F7F;
	}
}
/*footer section end*/


/*body section start*/
#home {
	text-align: center;
	width: 100%;
	padding-top: 120px;
	padding-bottom: 50px;
}

#home img {
	max-width: 200px; 
}


#home p {
	padding: 10px;
	color: #444444;
}

#content {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 40px; 
}

#content div {
	width: 100%;
	height: 400px;
	padding-top: 100px;
}

#content img {
	max-width: 200px;
}

#content p {
	padding-top: 20px;
	color: #ffffff;
}

#pagetop {
	
}
/*Mobile*/

@media screen and ( max-width:479px )
{   
	#home {
		text-align: center;
		padding-top: 150px;
		padding-bottom: 50px;
	}
	#home img {
		max-width: 200px; 
	}

	#home div {
		padding: 10px;
		color: #444444;
	}

	#content {
		text-align: center;
		display: inline-block;
		width: 100%;
		margin-top: 30px; 
	}
	#content div {
		text-align: center;
		width: 100%;
		height: 370px;
		padding-top: 80px;
	}

	#content img {
		text-align: center;
		max-width: 220px;
	}

	#content p {
		padding-top: 10px;
		color: #ffffff;
	}
｝
/*body section end*/


/* end */